n8n/three_d_pipeline.json
{
  "name": "3D Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0,
              "minute": 0
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "node scripts/idea-generator.js",
        "options": {}
      },
      "name": "Generate Ideas",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// choose first idea\nconst ideas = JSON.parse(items[0].json.stdout);\nreturn [{ json: { idea: ideas[0] } }];"
      },
      "name": "Select Idea",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "node scripts/prompt-generator.js \"{{$json[\"idea\"]}}\"",
        "options": {}
      },
      "name": "Create Prompts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// placeholder for image downloads or API calls\nreturn items;"
      },
      "name": "Generate Images",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "command": "node scripts/video-assembler.js spec.json",
        "options": {}
      },
      "name": "Assemble Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "command": "node scripts/publish-to-youtube.js output.mp4 \"{{$json[\"idea\"]}}\"",
        "options": {}
      },
      "name": "Publish",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Generate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas": {
      "main": [
        [
          {
            "node": "Select Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Idea": {
      "main": [
        [
          {
            "node": "Create Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Prompts": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}